.card {
  background-image: url(../Assets/Container.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  margin: 0% auto 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 80%;
  height: 90%;
  z-index: 9999;
}

.cardheader {
  font-size: 1em;
  margin-top: 0;
  height: 20%;
  margin-bottom: 0;
  padding-top: 5%;
}

.cardcontent {
  position: relative;
}

@media (max-width: 720px) {
  .cardheader {
    height: 12%;
    padding-top: 1%;
  }
}

@media (max-width: 600px) {
  .icon {
    width: 25%;
  }
  .temp {
    font-size: 8vw;
  }
}
