.container {
  position: relative;
  height: 70%;
  width: 70%;
  margin: 2px auto;
}

@media (max-width: 720px) {
  .container {
    height: 60%;
    margin: 2rem auto;
    width: 40%;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 2.5rem auto;
    width: 60%;
  }
}

@media (max-width: 515px) {
  .container {
    margin: 2.5rem auto;
    width: 90%;
  }
}
