.container {
  margin: 0 auto;
  align-content: center;
  align-self: center;
  text-align: center;
  height: 40rem;
  width: 80vw;
}

.gridcontainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5%;
}

@media (max-width: 1064px) {
  .gridcontainer {
    height: 135%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .gridcontainer {
    height: 200%;
    grid-template-columns: 1fr;
  }
}

.backbutton {
  color: white;
  font-weight: bolder;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  width: 6rem;
  position: absolute;
  left: 3rem;
  top: 1.7rem;
}
.backbutton:hover {
  color: black;
  border-color: black;
}
