.container {
  margin: 0 auto;
  align-content: center;
  align-self: center;
  text-align: center;
  height: 40rem;
  width: 80vw;
}

.gridcontainer {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 800px) {
  .gridcontainer {
    height: 135%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .gridcontainer {
    height: 200%;
    grid-template-columns: 1fr;
  }
}
